{% extends "baseLogin.html" %}


{% block style %}{% endblock %}
{% block title %}Login{% endblock %}

{% block main %}
<form method="post" action="/login">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5" id="form1">
                    <div class="form-data" v-if="!submitted">
                        <div class="forms-inputs mb-4"> <span>Login</span> <input name="login" type="text">

                        </div>
                        <div class="forms-inputs mb-4"> <span>Password</span> <input name="password" type="password">
                        </div>
                        <a href="/reg"><span  class="mb-3">Sign up</span></a>
                        <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Login</button> </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}